@import '../../App.scss';

.main-menu {

    @include md {
        margin-top: 15px;
    }
}

.main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu li {
    display: block;
    margin: 20px;
    text-align: center;
    
    @include md {
        display: inline;
    }
}

.main-menu .inverted li a {
    color: $primary;
}

.main-menu li a {

    color: #fff;
    text-decoration: none;
    font-weight: normal;
    padding: 8px;
    font-size: 18px;
    border-bottom-color: transparent;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    transition: border 0.3s ease-in, font-weight 0.3s ease-in;
}

@mixin item-active {
    font-weight: bold !important;
    border-bottom-color: white !important;
    border-bottom-width: 1.5px !important;
    border-bottom-style: solid !important;
    transition: border 0.3s ease-out, font-weight 0.3s ease-out !important;
}

.main-menu-active {
    @include item-active();
}

.main-menu li a:hover {
    @include item-active();
}