@import '../../../App.scss';

.sub-main-wrap {
    position: relative;
    z-index: 100000;

    @include md {
        margin-top: -80px;
        padding-left: 50px;
        padding-right: 50px;
    }

    @include lg {
        margin-top: -100px;
    }

    @include xl {
        margin-top: -110px;
    }
}

.sub-main-card {
    padding-bottom: 10px;
    margin: 0;
}