@import '../../App.scss';

@mixin card {
    width: 100%;
    min-height: 150px;
    background-color: white;
    cursor: pointer;
    padding-bottom: 15px;

    // Google shadow
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
}

@mixin card-hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: box-shadow .25s, -webkit-box-shadow .25s;
}

@mixin card-h2 {
    font-size: 14px;
    color: $primary;
    font-weight: 500;
    margin: 10px 15px;
    padding: 15px 0 0 0;
    text-transform: uppercase;
}

@mixin card-p {
    font-size: 22px;
    font-weight: 300;
    margin: 5px 15px;
    padding: 0;
}

@mixin card-span {
    font-size: 10px;
    font-weight: 300;
    margin: 10px 15px;
    padding: 0;
}

.card-default {
    @include card;
}

.card-default:hover {
    @include card-hover;
}

.card-default h2 {
    @include card-h2;
}

.card-default p {
    @include card-p;
}

.card-default span {
    @include card-span;
}

.card-image {
    @include card;
    box-shadow: none;
}

.card-image:hover {
    @include card-hover;
    box-shadow: none;
}

.card-image img {
    width: 100%;
    min-height: 150px;
    object-fit: cover;
    border-radius: 2px;
}

.card-image h2 {
    @include card-h2;
    margin: 10px 0px;
    font-size: 18px;
}

.card-image p {
    @include card-p;
    margin: 10px 0px;
    font-size: 26px;
    transition: color .2s ease-in;
}

.card-image p:hover {
    color: $primary-dark;
    transition: color .2s ease-out;
}

.card-image span {
    @include card-span;
    margin: 10px 0px;
    font-size: 12px;
}