@import "../../App.scss";

@mixin background-dark {
    background-color: $primary-dark;
}

.background-dark {
    @include background-dark;
}

.header-top {
    @include background-dark;
    // Google shadow
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    z-index: 99999999;
}

.header-bottom {
    background-color: $primary;
    min-height: 58px;
}