/**
  * My colors
  */
$primary: #169990;
$primary-dark: #14857D;
$background: #ccc;

body {
    background-color: #f8f8f8;
}

/**
  * My screens
  */
// Small tablets and Smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Tablets and desktops
$screen-xl-min: 1200px;

/**
  * My mixins screens
  */
// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }

// Shadow google
 @mixin shadow {
    // Google shadow
    // box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    // transition: box-shadow .25s, -webkit-box-shadow .25s;
    // border-radius: 2px;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}